@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: helvetica, sans-serif;
	color: rgb(112, 112, 112);
	font-size: 12px;
}

h1, h2 {
	text-align: center; 
}

#fieldArea {
	display: flex;
	margin-top: 15px;
}

#fieldArea #controls {
	width: 140px;
	background-color: #729fcf;
	padding: 20px;
	margin: 0 20px 0 20px;
}

#fieldArea #controls button {
	margin: 10px 0 10px 0;
	width: 100%;
}

#fieldArea #controls #btnShutdown {
	color: #a40000;
}

table.field {
	border-style: solid;
	border-width: 1px;
	border-color: #808080;
	border-collapse: collapse;
}

.field tr {
	height: 32px;
}

.field td {
	height: 32px;
	width: 32px;
	background-color: #12b431;
	border-style: solid;
	border-width: 1px;
	border-color: #808080;
}

.field img {
	display: block;
}

#iconsRefs {
	width: 100%;
	text-align: center;
}
