@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: helvetica, sans-serif;
	color: rgb(112, 112, 112);
	font-size: 12px;
}

#header {
	height: 100px;
	background-color: #477e5e;
	box-shadow: 0px 7px 20px -10px rgba(0, 0, 0, 0.506);
}

#footer {
	height: 50px;
	background-color: #f2f4f2;
}

h1, h2 {
	text-align: center; 
}

#fieldArea {
	display: flex;
}

#fieldArea #controls {
	height: 100px;
	background-color: #729fcf;
	padding: 20px;
	margin: 0 20px 0 20px;
}

table.field {
	border-style: solid;
	border-width: 1px;
	border-color: #808080;
	border-collapse: collapse;
}

.field tr {
	height: 32px;
}

.field td {
	height: 32px;
	width: 32px;
	background-color: #12b431;
	border-style: solid;
	border-width: 1px;
	border-color: #808080;
}

.field img {
	display: block;
}

#iconsRefs {
	width: 100%;
	text-align: center;
}
