<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %level %logger{1.} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
		<Logger name="rabbit_field.creature.Rabbit" additivity="false" level="info">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="rabbit_field.creature.UpdatesFulfillmentTask" additivity="false" level="debug">
			<MarkerFilter marker="ACT" onMatch="ACCEPT" onMismatch="DENY"/>
			<AppenderRef ref="Console" />
		</Logger>
		
	</Loggers>
</Configuration>
